*{
    margin: 0px;
    padding: 0px;
}
.container{
    border: 2px solid black;
    height: 555px;
    width: 850px;
    margin: 80px 0px 0px 380px;
    background-color: rgb(109, 72, 163);
}
.di{
    border: 2px solid rgb(70, 166, 190);
    height: 460px;
    width: 790px;
    margin: 45px 0px 0px 17px;
    border-radius: 20px;
    background-color: white;
}
h1{
    margin: 20px;
}
h4{
    margin: 20px;
    font-size: 25px;
    font-family:cursive;
    color: lightgrey;
}
input{
    border: 2px solid black;
}
input{
    height: 50px;
    width: 185px;
    margin:0px 0px 0px 20px;
}
button{
    margin: 0px 0px 70px 65px;
    padding: 10px;
}
.button1{
    border:2px solid skyblue;
    color: white;
    background-color: skyblue;
    border-radius:20px ;
    width:200px;
    height:50px;
    margin: 70px 0px 0px 30px;
}
.button2{
    border:2px solid red;
    color: white;
    background-color:red;
    border-radius:20px ;
    width:200px;
    height:50px;
    margin: 70px 0px 0px 30px;
}
.button3{
    border:2px solid rgb(42, 141, 156);
    color: white;
    background-color:rgb(44, 165, 161);
    border-radius:20px ;
    width:200px;
    height:50px;
    margin: 70px 0px 0px 30px;
}

.col-6 button{
    margin: 1px 0px 0px -190px;
    height: 50px;
    width:100px;
    border:2px solid skyblue;
    color: white;
    border-radius: 20px;
    background-color: rgb(197, 111, 101);

}
h3{
    margin: 0px 0px 0px 25px;
}
.hi{
    margin: 0px 20px 0px 25px;
    background-color: rgb(86, 152, 77);
    text-decoration:line-through;
    
}